@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: #ffffff;
    --ring: #8839ef;
    --input: #ccd0da;
    --muted: #dce0e8;
    --accent: #04a5e5;
    --border: #bcc0cc;
    --radius: 0.35rem;
    --chart-1: #8839ef;
    --chart-2: #04a5e5;
    --chart-3: #40a02b;
    --chart-4: #fe640b;
    --chart-5: #dc8a78;
    --popover: #ccd0da;
    --primary: #8839ef;
    --sidebar: #e6e9ef;
    --font-mono: Fira Code, monospace;
    --font-sans: Montserrat, sans-serif;
    --secondary: #ccd0da;
    --background: #eff1f5;
    --font-serif: Georgia, serif;
    --foreground: #4c4f69;
    --destructive: #d20f39;
    --shadow-blur: 6px;
    --shadow-color: hsl(240 30% 25%);
    --sidebar-ring: #8839ef;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --sidebar-accent: #04a5e5;
    --sidebar-border: #bcc0cc;
    --card-foreground: #4c4f69;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --sidebar-primary: #8839ef;
    --muted-foreground: #6c6f85;
    --accent-foreground: #ffffff;
    --popover-foreground: #4c4f69;
    --primary-foreground: #ffffff;
    --sidebar-foreground: #4c4f69;
    --secondary-foreground: #4c4f69;
    --destructive-foreground: #ffffff;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-primary-foreground: #ffffff;
    --button-ripple-color: oklch(0.145 0 0 / 0.3);
  }

  .dark {
    --card: #1e1e2e;
    --ring: #cba6f7;
    --input: #313244;
    --muted: #292c3c;
    --accent: #89dceb;
    --border: #313244;
    --chart-1: #cba6f7;
    --chart-2: #89dceb;
    --chart-3: #a6e3a1;
    --chart-4: #fab387;
    --chart-5: #f5e0dc;
    --popover: #45475a;
    --primary: #cba6f7;
    --sidebar: #11111b;
    --secondary: #585b70;
    --background: #181825;
    --foreground: #cdd6f4;
    --destructive: #f38ba8;
    --sidebar-ring: #cba6f7;
    --sidebar-accent: #89dceb;
    --sidebar-border: #45475a;
    --card-foreground: #cdd6f4;
    --sidebar-primary: #cba6f7;
    --muted-foreground: #a6adc8;
    --accent-foreground: #1e1e2e;
    --popover-foreground: #cdd6f4;
    --primary-foreground: #1e1e2e;
    --sidebar-foreground: #cdd6f4;
    --secondary-foreground: #cdd6f4;
    --destructive-foreground: #1e1e2e;
    --sidebar-accent-foreground: #1e1e2e;
    --sidebar-primary-foreground: #1e1e2e;
    --button-ripple-color: oklch(0.985 0 0 / 0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
